h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}


/*Clases e ids*/

.p-texto {
    color: lightgreen
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* CORES */
.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgb(17, 197, 214, 40%);
    font-size: 40px;
}


/* Backgrounds */
.div-background {
    background-image: url(lua.jpg);
    height: 300px;
}

.titulo-background {
    text-align: center;
    background-color: #FFF;
    color: #000;
}

/* FONTES */

.family {
    color: #000000;
    font-size: 40px;
}

.family.serif {
    color: green
}

.serif {
    font-family: 'times new roman';
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}

/* BOX MODEL */

body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;

    /*padding: 20px;

    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;

    padding: 30px 20px 5px 10px;

     top, right-left, bottom
    padding: 30px 20px 5px;

    primeira top e bottom, segunda right e left*/

    padding: 30px 20px;

    border: 3px solid #000;
    border-width: 5px 10px 2px 10px;


    /*
    border-left: 4px dotted blue;
    border-right: double;*/

    border-width: 20px 10px;
    border-radius: 15px;

    /*margin: 50px;
    margin: 5px 10px 10px 7px;
    margin: 20px 10px;*/
    margin: 100px;

    /*
    display: none;
    display: inline;
    display: inline-block; deixa um elemento no lado do outro*/
    display: block;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}

/* POSITION */
.div-position {
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 2px dotted black;
}

.static {
    /*Sempre fica no lugar onde foi colocada*/
    position: static;
}

.relative {
    /*Os outros elementos não se adaptam a ela
    pode ajustar a posição
    fica relativo ao elemento mais próximo*/
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}

.absolute {
    /*A posição dela se importa apenas com o elemento pai*/
    position: absolute;
    background-color: purple;
    right: 0;
    top: 0;
}

.mini-div {
    height: 50px;
    width: 50px;
    top: 0px;
    left: 0px;
}

.fixed {
    /*É alinhada ao body
    Sempre vai ficar localizada de acordo com view*/
    position: fixed;
    height: 200px;
    background-color: yellow;
    bottom: 0;
    right: 0;
}

.sticky {
    /* É como se fosse a position fixed, ele acompnha o scroll quando o mesmo passa por ela*/
    position: sticky;
    background-color: gray;
    top: 50px
}

/*Unidade de medidas*/
.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
}

.pai-porcentagem {
    height: 500px;
    width: 500px;
    background-color: #000;
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {
    width: 50%;
    height: 50%;
    background-color: #000;
}

.pai-em {
    font-size: 50px;
}

.em-1 {
    width: 0.5em;
    height: 0.5em;
    background-color: purple;
}

html {
    font-size: 20px;
}

.rem-1 {
    width: 1rem;
    height: 1rem;
    background-color: blue;
}

.rem-2 {
    font-size: 2rem;
}